* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: auto;
}
.image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-image: url("../im/voy.jpeg");
}
.text {
  margin-left: 300px;
  margin-top: 170px;
}
.text p {
  font-size: 20px;
}
.image .overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;

  background-color: black;
  background: rgba(0, 0, 0, 0.3);
}
.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 70px;
  background-color: #199ff9;
}
.navbar h2 {
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin-top: 17px;
}
.navlink {
  margin-left: 650px;
  margin-top: 25px;
}
.navlink a {
  background-color: whitesmoke;
  padding: 10px;
  color: black;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
#nav {
  margin-right: 20px;
}
.image .overlay .text {
  color: white;
  font-size: xx-large;
  margin-top: 70px;
  width: 750px;
  text-align: center;
}
.image .overlay .text span {
  color: #23a6f0;
}
.image .overlay .text p {
  display: inline;
}
.image .overlay .one {
  color: white;
  display: flex;
  font-size: 15px;
  align-items: center;
  flex-direction: row;
  margin-top: 85px;
  margin-left: 450px;
  font-size: 25px;
}
#log {
  padding: 2%;
  width: 120px;
  height: 60px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  background-color: #23a6f0;
  margin-top: 40px;
}
.info {
  height: 400px;
  width: auto;
  background-color: #14264e;
  opacity: 0.9;
}
.info h1 {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 420px;
}
#inf {
  padding-top: 60px;
  text-decoration: underline;
  color: white;
}
.entails {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-top: 50px;
}
.box-one {
  border: solid 2px transparent;
  height: auto;
  width: 300px;
  text-align: center;
  color: white;
  margin-right: 30px;
}
.imon {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 80%;
}
.setup {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
}
.settx {
  margin-left: 70px;
  width: 450px;
}
.settx h2 {
  margin-top: 130px;
  text-decoration: underline;
  font-size: 25px;
  color: #14264e;
}
.setimg {
  margin-left: 130px;
  margin-top: 50px;
}
.transparent {
  display: flex;
  background-color: whitesmoke;
  flex-direction: row;
  height: auto;
}
.transimg {
  margin-left: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.trans {
  width: 550px;
  margin-left: 90px;
  margin-top: 80px;
}
.trans h2 {
  color: #14264e;
  text-decoration: underline;
  font-weight: 700;
}
.info2 {
  height: 400px;
  width: auto;
  background-color: #14264e;
  opacity: 0.9;
}
.foot {
  height: 70px;
  width: auto;
  background-color: #199ff9;
  display: flex;
  flex-direction: row;
}
.foot h3 {
  text-align: center;
  margin: 30px 0px 0px 300px;
}
.foot p {
  margin-top: 30px;
  font-size: 20px;
  margin-left: 50px;
}
#demo {
  color: #199ff9;
  margin-left: 3px;
}
