.page{
    /* border: solid black; */
    width: 20%;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 300px;
    padding: 15px;
}
.chart h1{
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-left: 300px;
    text-align: start;
    }
    .piechart {
        margin-top: 50px;
        margin-left: 300px;
        display: block;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-image: conic-gradient(
            red 70deg, 
            purple 0 235deg); 
            
    }
    .main{
        /* border: 1px solid black; */
        margin-top: 550px;
        margin-left: 300px;
        margin-bottom: 200px;
        display: flex;
      }
      .container{
        width: 300px;
        background-color: #ddd;
      }
      .vote{
        text-align: right;
        padding-top: 10px;
        padding-left: 10px;
      }
      .gee{
        margin-left: 100px;
      }
      .candidate1{
        width: 90%;
        background-color: purple;
      }
      .candidate2{
        width: 70%;
        background-color: purple;
      
      }
      .candidate3{
        width:60%;
        background-color: purple;
      }
      .candidate4{
        width: 50%;
        background-color: purple;
      }
      .candidate5{
        width: 40%;
        background-color: purple;
      }
      .candidate6{
        width: 30%;
        background-color: purple;
      }
      