.page{
    border: solid black;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 300px;
    padding: 15px;
}
.chart h1{
    border: 1px solid black;
    margin-top: 300px;
    margin-left: 300px;
    text-align: center;
    }
    .piechart {
        margin-top: 50px;
        margin-left: 300px;
        display: block;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-image: conic-gradient(
            red 70deg, 
            purple 0 235deg); 
            
    }
    .main{
        border: 1px solid black;
        margin-top: 900px;
        margin-left: -300px;
        display: flex;
      }
      .container{
        width: 300px;
        background-color: #ddd;
      }