.page{
    border: solid black;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 300px;
    padding: 15px;
}
.chart h1{
    border: 1px solid black;
    margin-top: 300px;
    margin-left: 300px;
    text-align: center;
    }